Basics of handling missing value for data preprocessing

In [1]:
import pandas as pd

In [10]:
data = {
        'Name': ['Alice', 'Bob', 'Charlie', 'sam', 'smanatha'], 
        'Age': [25, None, 35,23, None],
        'Salaray': [50000, 60000,70000, None, None]
        }
df = pd.DataFrame(data)
print("Original DataFrame:")
df.head()

Original DataFrame:

       Name   Age  Salaray
0     Alice  25.0  50000.0
1       Bob   NaN  60000.0
2   Charlie  35.0  70000.0
3       sam  23.0      NaN
4  smanatha   NaN      NaN

In [ ]:
#tell the number of missing values in each column
print(df.isnull().sum())

Name       0
Age        2
Salaray    2
dtype: int64

In [ ]:
#it drop the row with missing value
print(df.dropna())

      Name   Age  Salaray
0    Alice  25.0  50000.0
2  Charlie  35.0  70000.0

In [15]:
print(df.fillna(df['Age'].mean(), inplace=True))

None

In [ ]:
print(df.fillna(df['']))